In [77]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [78]:
import numpy as np
import pandas as pd
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [79]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [80]:
# Create engine to hawaii.sqlite
engine = create_engine("sqlite:///Resources/hawaii.sqlite")

In [81]:
# Reflect an existing database into a new model

# Reflect Database into ORM classes
# reflect the tables
Base = automap_base()
Base.prepare(autoload_with=engine)

In [82]:
# View all of the classes that automap found
Base.classes.keys()

['measurement', 'station']

In [83]:
# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [84]:
# Create our session (link) from Python to the DB
session = Session(engine)

conn = engine.connect()

In [85]:
# Create a database session object
# Query All Records in the the Database
Measurement_data = pd.read_sql("SELECT * FROM Measurement", conn)
Station_data = pd.read_sql("SELECT * FROM Station", conn)

In [86]:
#Checking import of data
Measurement_data.head()

   id      station        date  prcp  tobs
0   1  USC00519397  2010-01-01  0.08  65.0
1   2  USC00519397  2010-01-02  0.00  63.0
2   3  USC00519397  2010-01-03  0.00  74.0
3   4  USC00519397  2010-01-04  0.00  76.0
4   5  USC00519397  2010-01-06   NaN  73.0

In [87]:
#Checking import of data
Station_data.head()

,id,station,name,latitude,longitude,elevation
0,1,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,2,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,3,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,4,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,5,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

# Exploratory Precipitation Analysis

In [99]:
# Find the most recent date in the data set.
##HINT Donâ€™t pass the date as a variable to your query.
latest_date = Measurement_data.date.max()
latest_date

'2017-08-23'

In [114]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results. 
# Starting from the most recent data point in the database.

date_range = (dt.date(2017,8,23)) - (dt.timedelta(days=365))
print(date_range)

# Calculate the date one year from the last date in data set.
#'2017-08-23' minus one year is 2016-8-23

2016-08-23

In [ ]:
##########REFERENCE CODE
# # List all of the countries found in the invoices table
# session.query(Invoices.BillingCountry).group_by(Invoices.BillingCountry).all()

# # Design a query that lists the invoices totals for each billing country 
# # and sort the output in descending order.
# session.query(Invoices.BillingCountry, func.sum(Invoices.Total)).\
#     group_by(Invoices.BillingCountry).\
#     order_by(func.sum(Invoices.Total).desc()).all()

In [123]:
# Perform a query to retrieve the data and precipitation scores
precip_scores = session.query(Measurement.date, Measurement.prcp).filter(Measurement.date >= date_range)
#Check
precip_scores.first()

# Save the query results as a Pandas DataFrame and set the index to the date column
precip_score_pd = pd.DataFrame(precip_scores)
precip_score_pd.head()

         date  prcp
0  2016-08-23  0.00
1  2016-08-24  0.08
2  2016-08-25  0.08
3  2016-08-26  0.00
4  2016-08-27  0.00

In [129]:
# Sort the dataframe by date
precip_pd = precip_score_pd.groupby(precip_score_pd['date'])
precip_pd.head(10)

            date  prcp
0     2016-08-23  0.00
1     2016-08-24  0.08
2     2016-08-25  0.08
3     2016-08-26  0.00
4     2016-08-27  0.00
...          ...   ...
2225  2017-08-19  0.09
2226  2017-08-20   NaN
2227  2017-08-21  0.56
2228  2017-08-22  0.50
2229  2017-08-23  0.45

[2230 rows x 2 columns]

In [ ]:
# Use Pandas Plotting with Matplotlib to plot the data

In [68]:
# Use Pandas to calculate the summary statistics for the precipitation data
Measurement_data.describe()

                 id          prcp          tobs
count  19550.000000  18103.000000  19550.000000
mean    9775.500000      0.160644     73.097954
std     5643.743217      0.468746      4.523527
min        1.000000      0.000000     53.000000
25%     4888.250000      0.000000     70.000000
50%     9775.500000      0.010000     73.000000
75%    14662.750000      0.110000     76.000000
max    19550.000000     11.530000     87.000000

# Exploratory Station Analysis

In [69]:
# Design a query to calculate the total number stations in the dataset

SyntaxError: unexpected EOF while parsing (2483800570.py, line 2)

In [ ]:
# Design a query to find the most active stations (i.e. what stations have the most rows?)
# List the stations and the counts in descending order.

In [ ]:
# Using the most active station id from the previous query, calculate the lowest, highest, and average temperature.

In [ ]:
# Using the most active station id
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

# Close session

In [ ]:
# Close Session
session.close()